@import './utils/_fonts';
@import './utils/variables';
@import './_base';
@import './utils/utils';

@import './components/buttons';
@import './components/links';
@import './components/heder';
@import './components/hero-section';
@import './components/advantage-list';
@import './components/traditions-section';
@import './components/chefs-section';
@import './components/format-section';
@import './components/caruserl';
@import './components/contact';
@import './components/footer';
@import './components/modal';
@import './components/form';

@import './utils/mixins';




