@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 300;
  src: url("../fonts/poppins-v22-latin-300.woff2") format("woff2"),
    url("../fonts/poppins-v22-latin-300.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 400;
  src: url("../fonts/poppins-v22-latin-regular.woff2") format("woff2"),
    url("../fonts/poppins-v22-latin-regular.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 600;
  src: url("../fonts/poppins-v22-latin-600.woff2") format("woff2"),
    url("../fonts/poppins-v22-latin-600.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 900;
  src: url("../fonts/poppins-v22-latin-900.woff2") format("woff2"),
    url("../fonts/poppins-v22-latin-900.ttf") format("truetype");
}

:root {
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-primary-brand: #819b57;
  --color-primary-brand-dark: #465929;
  --color-secondary-light: #cfcfbc;
  --color-secondary-dark: #a18268;
}
/* Base */
* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-primary-light);
  color: var(--color-primary-dark);
  font-family: "Popoins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hiden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

.section {
  padding: 48px 0;
}

.brand {
  color: var(--color-primary-brand);
}

/* Link */
.link {
  color: var(--color-primary-light);
  text-decoration: none;
}

.link:hover {
  color: #819b57;
}

/* Button */
.button {
  padding: 16px 32px;
  background-color: var(--color-primary-brand);
  border: 2px solid var(--color-primary-brand);
  font-weight: 600;
  border-radius: 8px;
  color: var(--color-primary-light);
  cursor: pointer;
}

.button:hover {
  background-color: transparent;
  color: var(--color-primary-brand-dark);
  cursor: pointer;
}

/* Heder */

.heder-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.heder-nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 40px;
}

.heder-menu {
  display: flex;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
}

/* Hero section */
.hero-section {
  padding: 272px 0;
  background-image: url(../images/couple-in-bakery.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.hero-title {
  margin-bottom: 0;
  color: var(--color-primary-light);
  text-align: center;
  font-size: 128px;
  font-weight: 900px;
}

.hero-title .accent {
  color: var(--color-primary-brand);
}

.section-title {
  color: var(--color-primary-dark);
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.section-title.centered {
  text-align: center;
}

/* Advantages list */
.advantages-section {
  background-color: var(--color-primary-brand);
  padding: 16px 0;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.advantages-item {
  color: var(--color-primary-light);
  font-size: 20px;
  font-weight: 300;
}

/* Traditions Sections */
.traditions-section {
  padding-top: 96px;
}

.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.traditions-content {
  max-width: 710px;
}

.traditions-title {
  margin-bottom: 42px;
}

.traditions-text .brand {
  color: var(--color-primary-brand);
  font-weight: 600;
}

.traditions-text .uppercase {
  text-transform: uppercase;
}

.traditions-text.limited {
  max-width: 340px;
}

/* Chefs section */

.chefs-title {
  max-width: 520px;
  margin: 0 auto 80px;
}

.chef-title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 16px;
}

.chefs-title::before,
.chefs-title::after {
  content: "";
  display: block;
  width: 352px;
  border: 2px solid var(--color-secondary-light);
}

.chef-photo {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--color-primary-light),
    -16px 16px 0 2px var(--color-secondary-dark);
}

/* Format section */

.formats-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.formats-item {
  flex-basis: calc((100% - 40px) / 3);
}

.format-card {
  height: 444px;
  border-radius: 16px;
  padding: 24px;
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    #31261a 100%
  );
}

.formats-title {
  margin-bottom: 80px;
}

.format-title {
  font-size: 24px;
  font-weight: 900;
}

.format-text {
  font-size: 14px;
  font-weight: 300;
}

/* Carusel */

.carusel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  padding: 0;
  fill: var(--color-primary-dark);
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--color-primary-dark);
  cursor: pointer;
}

.carusel-button:hover {
  background-color: var(--color-primary-dark);
  fill: var(--color-primary-light);
}

/* Contact */
.contact-title {
  margin-bottom: 16px;
}

/* Footer */

.footer {
  background-color: #312614;
  background-image: url("../images/bacgraund-footer.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.address-link {
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  color: var(--color-primary-light);
}

.address-link:hover {
  color: var(--color-primary-brand);
}

.address-icon {
  fill: var(--color-primary-light);
}

.address-icon:hover {
  fill: var(--color-primary-brand);
}

.address-copyright {
  color: #a18268;
  font-size: 14px;
}
