.text-brand {
    color: var(--color-primary-brand);
}

.text-brend-dark {
    color: var(--color-primary-brand-dark);
}

.text-bold {
    font-weight: 600;
}

.text-uppercase {
    text-transform: uppercase;
}