:root {
    --color-primary-dark: #31261a;
    --color-primary-light: #faf4ea;
    --color-primary-brand: #819b57;
    --color-primary-brand-dark: #465929;
    --color-secondary-light: #cfcfbc;
    --color-secondary-dark: #a18268;
}