.footer {
    position: relative;
    background-color: #312614;
    background-image: url("../images/bacgraund-footer.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 35px 0;
}

.footer::before,
.footer::after {
    position: absolute;
    content: "";
    bottom: 0;
    background-repeat: no-repeat;
}

.footer::before {
    width: 180px;
    height: 120px;
    left: 0;
    background-image: url(./../images/decor-bred-smal.png);
}

.footer::after {
    width: 378px;
    height: 187px;
    right: 0;
    background-image: url(./../images/decor-bred-large.png);
}

.footer-container {
    display: flex;
    gap: 20px;
}

.footer-nav,
.footer-addres {
    display: flex;
    flex-basis: 50%;
    gap: 20px;
}

.footer-logo,
.footer-menu {
    flex-grow: 1;
}

.addres-list,
.address-info {
    flex-grow: 1;
}

.address-link {
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    color: var(--color-primary-light);
}

.address-link:hover {
    color: var(--color-primary-brand);
}

.address-icon {
    fill: var(--color-primary-light);
}

.address-icon:hover {
    fill: var(--color-primary-brand);
}

.address-copyright {
    color: #a18268;
    font-size: 14px;
}